<div class="home-banner">
  <h1>Sumo Cocktails</h1>
</div>
<div class="container">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')"> <%= cocktail.name %>
      </div>
      <% end %>
    <% end %>
     <%= link_to new_cocktail_path do %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://regmedia.co.uk/2019/05/09/fatsumoman.jpg?x=442&y=293&crop=1)"> Add new sumo
      </div>
      <% end %>
</div>
