<div class="navbar navbar-expand-sm navbar-light navbar-lewagon sticky-top">
  <%= link_to new_cocktail_path, class: "navbar-brand" do %>
    <%= image_tag "https://seeklogo.com/images/C/cocktail-bar-tourist-sign-logo-3497593B22-seeklogo.com.gif" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <%= link_to root_path do  %>
        <%= image_tag "https://i.ebayimg.com/images/g/bOsAAOSwXIFc4u5~/s-l400.jpg", class: "avatar"%>
        <% end %>
      </li>
    </ul>
  </div>
</div>
